# Virtual Environment
myenv
venv
env

# Environment Variables
.env
.env.local

# Python Cache
__pycache__
*.pyc
*.pyo
*.pyd

# IDE
.vscode
.idea

# Logs
*.log
logs/
app.log

# Static files
static/

# Docker
.dockerignore
